.button {
    background-color: #FF8787;
    border-radius: 90px;
    width: 200px;
    height: 40px;
    font-size: 24px;
    font-family: "Poppins";
    font-weight: 300;
    border: none;
}
.bottom{
    margin: 64px;
}

html{
    scroll-behavior: smooth;
}

.navbar{
    display: flex;
    height: 80px;
    width: 100vw;
    position: fixed;
    justify-content: center;
    border-bottom: 1px solid black;
    background-color: #F8C4B4;
    margin: 0px;
}

.navbar h1 {
    font-family: "Poppins";
    font-size: 32px;
    font-weight: normal;
}

.sloganBox{
    display: flex;
    justify-content: flex-start;
    justify-items: left;
    flex-direction: column;
    margin-left: 64px;
}

.sloganBox h1{
    color: black;
    font-family: "Chonburi";
    font-size: 100px;
    font-weight: normal;
    margin: 0px;
    text-align: start;
}

.sloganBox h2{
    color: black;
    font-family: "Maitree";
    font-size: 40px;
    font-weight: normal;
    margin :0px;
    text-align: start;
    width: 850px;
}

.scrollButtonContainer{
    margin :0px;
    height: 50px;
    background-color: #F8C4B4;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.timerContainer{
        margin: 0px;
        height: 100vh;
        background-color: #F8C4B4;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
}

.timerBox{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.timerBox h1 pre,pre{
    width: 1050px;
}

.timerBox h1 pre{
    color: black;
    font-family: "Chonburi";
    font-size: 128px;
    font-weight: normal;
    margin: 0px;
    text-align: end;
}

.timerBox pre{
    color: black;
    font-family: "Maitree";
    font-size: 40px;
    font-weight: normal;
    margin: 0px;
    text-align: end;
}

@keyframes test {
    0% {margin-top: -10px;}
    50% {margin-top: 0px;}
    100% {margin-top: -10px;}

}

.scrollButton{
    animation: test 2s infinite ;
}