*{
    font-family: "Chonburi";
}
.body{
    margin: auto;
    display: block;
    gap: 16px;
    max-width: 1108px;
}

.UserPost{
    gap: 1px;
    display: flex;
}
.UserPost .lhs{
    display: flex;
}

.UserPost .lhs .nametime{
    margin: auto;
    display: flex;
}
.UserPost .lhs p{
    margin: 0px;
}
.UserPost .lhs img{
    height: 70px;
    width: 70px;
}

.UserPost .lhs .nametime{
    gap: 1px;
    display: grid;
    margin: 0px;
}

.MainPost{
    margin: auto;
    max-width: 1048px;
}
.CommentSection{
    margin: auto;
    max-width: 1048px;
}
.CommentForm{
    margin: auto;
    height: 183px;
    width: 1048px;
}
.CommentForm label{
    font-size: 100px;
}


.CommentForm .form{
    height: 150px;
    width: 1048px;
}
.CommentForm .submit{
    height: 150px;
    width: 1048px;
}