*{
    font-family: "time new roman";
    font-size: 20px;
    justify-content: center;
    
}
/* 

.CommentForm .form{
    height: 150px;
    width: 1048px;
}
.CommentForm .submit{
    height: 150px;
    width: 1048px;
} */