.category{
    text-align: start;
    font-size: 20px;
    font-weight: bold;
    font-family: "Poppins";
    color: #8c8c8c;
    margin: 16px 0px 0px 16px;
}

.menu_button{
    font-family: "Poppins";
    font-weight: regular;
    font-size: 24px;
    margin: 16px 0px 0px 16px;
    background: none;
    border: none;
    text-align: start;
    transition: border 0.2s ease-out ;
}
